<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.sf.net/crsx/xtext/Crsx" 
       class = "net.sf.crsx.xtext.crsx.CrsxPackage"
       genModel = "net/sf/crsx/xtext/Crsx.genmodel" /> 
	
  </extension>




</plugin>
